/* .post {
  border: 1px solid black;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up .sign-in {
  border: 1px solid black;
  border-radius: 10px;
} */
